
/***头部**/
.topContainer{
    width: 100%;
    height: 100%;
    padding:0 80px;
    color: #fff;
}
.logoWrap{
    float: left;
    font-size: 24px;
}
.signWrap{
    float: right;
    font-size: 14px;
}